.bg-dark {
    background-color: rgba(0,0,0, 0.7) !important;
}


.button{
    margin-right: 7px;
}

a{
    color: #da532c !important;
}

.btn-outline-primary {
    color: #da532c;
    border-color: #da532c !important;
}


.kenny{
    padding: 0px;
    height: 100%;
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position-y: -175px;
    width: 100%;
    margin-bottom: 0;
    object-fit: cover;
    
}
.jeremy {
    height: 460px;
}

#signup:hover{
    background-color: transparent;
}

#login:hover{
    background-color: transparent;
}


.howImage {
    border-radius: 20%;
    width: 300px;
    height: 250px;
}

.center{
    color: #da532c;
    padding-top: 10px;
    padding-left: 10px;

}

.pills{
    height: 100%;
}

