{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}

<div class='jeremy'>
    <img class="aboutback" src="{% static '/images/bballback.jpg' %}" alt="Basketball Background">
</div>


<h1 class="abouthoopers">About Hoopers</h1>

<div class="ballforall1">
<h2 class="ballforall">Ball For All</h2>
<p class="ballforall">Hoopers was founded in 2019 with one objective: to bring people <br> together through the game of basketball without the pressure <br> of gym memberships or league play. We wanted to offer games when<br> and where works best for you.</p>

</div>

<div class="aboutback3">
        <img class="aboutback1" src="{% static '/images/izzy.png' %}" alt="Izzy"> 
        <img class="aboutback1" src="{% static '/images/adil.png' %}" alt="Adil"> 
        <img class="aboutback1" src="{% static '/images/jeremy.jpg' %}" alt="Jeremy"> 
</div>




{% endblock %}