{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<main>
        <img class="gymfloor1" src="{% static '/images/woodfloor.jpg' %}" alt="">
<section class="eventdetailshow imageevent">
        <img class ="image900 image7" src="{% static '/images/eventbackground2.jpg' %}" alt="five">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h5 class = "mygames1">{{header}}</h5>
    <p class ="mygames1">{{event_detail.name}}</p>
    <p class="mygames1">{{event_detail.location}}</p>
    <p class ="mygames1">{{event_detail.date}}</p>
    <p class ="mygames1">{{event_detail.time}}</p>
    <p class="mygames1">{{event_detail.game_type}}</p>
    <p class="mygames1">{{event_detail.id}}</p>
    <a class="joingame" href="{% url 'event_join' pk=event_detail.id %}">Join Game</a>
</section>
</main>

{% endblock %}