{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}


<div class='jeremy'>
    <img class="kenny" src="{% static '/images/bballback.jpg' %}" alt="Basketball Background">
</div>


<main>
    <div class="container" id="howItWorks" style="margin-top:50px;width:100%;padding:0;text-align:center;">
            <div class='headerbackground'>    
                    <h3 class="landingHighImpact">Games start at your time</h3>
                        <p class="text-center" style="font-size:30px;margin-bottom:5px;margin-top:20px">Sign up today and start hooping!
                        </p>
                    </div>
        <div class="container pills" style="margin-top:10px;">

            <div class="section-info" style="margin-bottom:0;margin-top:0;margin-bottom:5px;">
                <div id="practice-info" style="padding-top:15px;">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="">
                                <img class="howImage" src="{% static '/images/iphone.jpg' %}">
                                <h3 class="center">Sign-up</h3>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="">
                                <img class="howImage" src="{% static '/images/bballback1.jpg' %}">
                                <h3 class="center">Reserve a spot</h3>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="">
                            <img class="howImage" src="{% static '/images/bballback4.jpg' %}">
                            <h3 class="center">Head to the gym</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



{% endblock %}