{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}


<main>
    <h2 class="mygames700">My Games</h2>
    <div class="profile-buttons">
        <button><a href="{% url 'event_create' %}">Add Event</a></button> 
        <button><a href="{% url 'player_edit' pk=player.user_id  %}">Edit Profile</a></button> 
    </div>
    <div class="album py-5 bg-light">
            <h1 class="profile-name">{{user_events.user.username}}</h1>
        <img class="gymfloor1" src="{% static '/images/woodfloor.jpg' %}" alt="">
            <div class="container">
              <div class="row">
                    {% for user_event in user_events %}
                <div class="col-md-4 imageevent">
                  <div class="mb-4 shadow-sm">
                        <img class ="image1 image7" src="{% static '/images/eventbackground2.jpg' %}" alt="five">
                        <!-- <h2 class="mygames">My Games</h2> -->

                
                        <h5 class="mygames">Game Details</h5>
                        <p class="mygames">Event Name: {{user_event.event.name}}</p>
                        <p class="mygames">Event Date: {{user_event.event.date}}</p>
                        <p class="mygames">Event Time: {{user_event.event.time}}</p>
                        <a class="mygames" href="{% url 'event_edit' pk=user_event.event.id %}" >Edit</a>
                        <a class="mygames" href="{% url 'event_delete' pk=user_event.event.id %}">Delete</a>

                    
                  </div>
                </div>  
                {% endfor %}
            </div>
        </div>
    </div>
</main>























{% endblock %}
