{% extends 'base.html' %}

{% block content %}
<main>
<h1 class="profile-name">{{user_events.user.username}}</h1>

    <section>
        <h2>Scheduled Games:</h2>
        <ul>
            <li>Game 1</li>
            <li>Game 2</li>
            <li>Game 3</li>
        </ul>

    </section>
    
    <section>
        <h2>Past Games:</h2>
        <ul>
            <li>Game1</li>
            <li>Game 2</li>
            <li>Game 3</li>
        </ul>
    </section>

    <section>
        <h2>User Info Test</h2>
        {% for user_event in user_events %}
        <!-- <h3>User Info</h3>
        <p>Username: {{user_event.user.username}}</p>
        <p>First Name: {{user_event.user.first_name}}</p>
        <p>Last Name: {{user_event.user.last_name}}</p> -->

        <h3>Game Details</h3>
        <p>Event Name: {{user_event.event.name}}</p>
        <p>Event Date: {{user_event.event.date}}</p>
        <p>Event Time: {{user_event.event.time}}</p>
        {% endfor %}
    </section>

</main>

{% endblock %}
