{% extends 'base.html' %}

{% block content %}
<h1 class="profile-name">{{user.username}}</h1>

<section>
    <h2>Scheduled Games:</h2>
    <ul>
        <li>Game 1</li>
        <li>Game 2</li>
        <li>Game 3</li>
    </ul>

</section>

<section>
    <h2>Created Games:</h2>
    <ul>
        <li>Game 1</li>
        <li>Game 2</li>
        <li>Game 3</li>
    </ul>
</section>

<section>
    <h2>Passed Games:</h2>
    <ul>
        <li>Game1</li>
        <li>Game 2</li>
        <li>Game 3</li>
    </ul>
</section>

